@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

.corpo {
  display: flex;
  background-color: #ffffff;
  height: 135vh;
  width: 97vw;
}

.container {
  display: flex;
  width: 100%;
}

main {
  background-color: #ffffff;
  width: 75vw;
}

.main-content {
  display: flex;
  width: 100%;
}

header {
  background-color: #d2135d;
  color: white;
  padding: 3vh;
  border-radius: 3vh;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 0.8rem;
}

header h1 {
  margin: 1vh;
  font-size: 3vh;
}

header p {
  margin: 1vh;
  font-size: 2vh;
}

#greeting1 {
  font-size: 3.5vh;
  font-weight: bold;
}

#greeting2 {
  font-size: 2.5vh;
}

.actions {
  display: flex;
  gap: 1px;
  margin-right: 2rem;
  justify-content: flex-end

}

.center-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.actions-center a {
  display: flex;
  margin-top: 25px;
  height: 7vh;
  width: 65vh;
  justify-content: center;
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  padding: 2px 10px;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  gap: 2px;
  margin: 1rem;
}


.actions a {
  height: 7vh;
  width: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit
}


.back {
  margin-top: 3vh;
}

.back-link {
  margin-left: 8vh;
  color: #000000;
  text-decoration: none;
}

.actions button,
.button-page {
  background-color: #ffffff00;
  color: #000000;
  border: 1px solid #000000;
  padding-right: 1vw;
  padding-left: 1vw;
  border-radius: 1vh;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-family: Poppins, sans-serif;
  justify-content: flex-start;
  gap: 2px;
  width: auto;
  margin: 2vh;
  font-size: 16px;
}

.actions button img,
.actions-center button img {
  width: 25px;
  width: 5vh;
  padding: 0.2rem;
}

.actions button span,
.actions-center button span {
  display: inline-block;
}

.planilha-btn {
  margin-right: 10px;
}

.avaliar-btn {
  margin-right: 10px;
}

.arquivados-btn {
  margin-right: 10px;
}

.actions-center a:hover,
.actions button:hover {
  background-color: #d81b60;
  color: #fff;
  border: none;
}


.planilha-btn {
  margin-right: 10px;
}

.procedures-table {
  width: 160vh;
  border-collapse: collapse;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 2.3%;
  margin-right: auto;
}

.procedures-table thead {
  background-color: #d2135d;
  color: #fff;
}

.procedures-table th,
.procedures-table td {
  padding: 15px;
  text-align: left;
}

.procedures-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.edit-btn,
.delete-btn,
.more-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.edit-btn:hover,
.delete-btn:hover,
.more-btn:hover {
  color: #d81b60;
}

/* Pagination */
.pagination {
  text-align: center;
  margin: 20px 0;
  color: #d2135d;
  cursor: pointer;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 2%;
}

.stat-item {
  background-color: #ffe2ec;
  border-radius: 5px;
  padding: 10px;
  width: 30%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stats :hover {
  background-color: #fad2e0;
}

.stat-item h2 {
  color: #000000;
  margin-bottom: 10px;
  font-size: 20px;
  width: 100%;
}

.stat-item p {
  margin-bottom: 10px;
}

.stats .stat-item a {
  color: #000000;
  text-decoration: none;
  font-weight: 300;
  font-size: small;
}

.stats .stat-item a:hover {
  text-decoration: underline;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.modal-content p {
  margin-bottom: 20px;
  font-size: 18px;
}

.modal-content .btn {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.modal-content .btn-yes {
  background-color: #28a745;
  color: white;
}

.modal-content .btn-no {
  background-color: #dc3545;
  color: white;
}

.modal-content .btn-yes:hover {
  background-color: #218838;
}

.modal-content .btn-no:hover {
  background-color: #c82333;
}

.criar-btn a {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* nav */

/* navbar */

.navigation {
  height: auto;
  background: #d2135d;
  width: 19vw;
  top: 2vh;
  margin-left: 3vw;
  border-radius: 3vh;
  margin-bottom: 2vh;
  box-shadow: 10px 0 0 #ffffff;
  border-left: 10px solid #d2135d;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.navigation .perfil .imagem-perfil {
  width: 20vh;
  height: 20vh;
  border-radius: 300px;
  display: flex;
  justify-content: center;
  list-style: none;
}

.perfil {
  padding: 5vh;
}

.navigation .perfil .imagem-perfil img {
  margin: 1vh;
  width: 53vh;
  height: 23vh;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.perfil #userName {
  display: flex;
  list-style: none;
  color: white;
  font-weight: 600;
  margin-top: 6vh;
  justify-content: center;
}

.perfil #userInsta {
  list-style: none;
  color: white;
  font-weight: 200;
  font-size: 12px;
  margin-top: 0.5vh;
  display: flex;
  justify-content: center;
}


.navigation ul {
  position: absolute !important;
  top: 30vh;
  left: 0;
  width: 100%;
  padding-left: 1vw;
  padding-top: 10vh;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation ul li a {
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: #fff;
  height: 8vh;
  margin-bottom: 2.5vh;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 3vw;
  height: 3vh;
  text-align: center;
  line-height: 70px;
}

.navigation ul li a .icon ion-icon {
  position: relative;
  font-size: 1.5rem;
  z-index: 1;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding-left: 1.5vw;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
  font-size: 15px;
}

.navigation ul li.active {
  color: black;
  background: #ffffff;
}

.navigation ul li.active a {
  color: black;
  /* Cor do texto quando ativo */
}

.navigation ul li.active a .icon ion-icon {
  color: black;
  /* Cor do ícone quando ativo */
}

.navigation ul li.active a::before {
  content: "";
  position: absolute;
  bottom: 8vh;
  right: 0;
  width: 5vh;
  height: 5vh;
  background: #d2135d;
  border-radius: 50%;
  box-shadow: 15px 15px 0 #ffffff;
  color: black;
}

.navigation ul li.active a::after {
  content: "";
  position: absolute;
  top: 8vh;
  right: 0;
  width: 5vh;
  height: 5vh;
  background: #d2135d;
  border-radius: 50%;
  box-shadow: 15px -15px 0 #ffffff;
}


.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.notification.show {
  opacity: 1;
}

.notification.error {
  background-color: #dc3545;
}

.notification svg {
  margin-right: 10px;
}

/* Modal styles pesquisar clientes*/
.modal-pesquisa {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-pesquisa .modal-content {
  background-color: #fefefe;
  margin: 7.5% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 55%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.modal-pesquisa .modal-content .close-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-pesquisa .modal-content .close {
  font-size: 24px;
  cursor: pointer;
}

.modal-pesquisa .modal-content p {
  margin-bottom: 20px;
  font-size: 18px;
}

.modal-pesquisa .modal-content .form-group,
.modal-pesquisa .modal-content .form-group-row {
  margin-bottom: 15px;
  text-align: left;
}

.modal-pesquisa .modal-content .form-group label,
.modal-pesquisa .modal-content .form-group-row label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.modal-pesquisa .modal-content .form-group input,
.modal-pesquisa .modal-content .form-group-row input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-pesquisa .modal-content .form-group-row {
  display: flex;
  justify-content: space-between;
}

.modal-pesquisa .modal-content .form-group-row .form-group {
  flex: 1;
  margin-right: 10px;
}

.modal-pesquisa .modal-content .form-group-row .form-group:last-child {
  margin-right: 0;
}

.modal-pesquisa .modal-content .btn-pesquisar {
  background-color: #d2135d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-left: 74%;
}

.modal-pesquisa .modal-content .btn-pesquisar:hover {
  background-color: #fdc0d5;
  color: #000000;
}

.modal-pesquisa .modal-content .close {
  position: absolute;
  top: 110px;
  right: 300px;
  font-size: 24px;
  cursor: pointer;
}

/* Modal styles avaliacao clientes*/
.modal-avaliacao {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-avaliacao .modal-content {
  background-color: #fefefe;
  margin: 7.5% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.modal-avaliacao .modal-content .close-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-avaliacao .modal-content .close {
  font-size: 24px;
  cursor: pointer;
}

.modal-avaliacao .modal-content p {
  margin-bottom: 20px;
  font-size: 18px;
}

.modal-avaliacao .modal-content .form-group,
.modal-avaliacao .modal-content .form-group-row {
  margin-bottom: 15px;
  text-align: left;
}

.modal-avaliacao .modal-content .form-group label,
.modal-avaliacao .modal-content .form-group-row label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.modal-avaliacao .modal-content .form-group input,
.modal-avaliacao .modal-content .form-group-row input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-avaliacao .modal-content .form-group-row {
  display: flex;
  justify-content: space-between;
}

.modal-avaliacao .modal-content .form-group-row .form-group {
  flex: 1;
  margin-right: 10px;
}

.modal-avaliacao .modal-content .form-group-row .form-group:last-child {
  margin-right: 0;
}

.modal-avaliacao .modal-content .btn-avaliar {
  background-color: #d2135d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-left: 74%;
}

.modal-avaliacao .modal-content .btn-avaliar:hover {
  background-color: #fdc0d5;
  color: #000000;
}

.modal-avaliacao .modal-content .close {
  position: absolute;
  top: 110px;
  left: 1700px;
  font-size: 24px;
  cursor: pointer;
}

.procedures-table-pesquisa {
  width: 75vh;
  max-width: 170vh;
  border-collapse: collapse;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 2.5%;
  margin-right: auto;
  border: 1px solid black;
}

.procedures-table-pesquisa thead {
  background-color: #d2135d;
  color: #fff;
}

.procedures-table-pesquisa th,
.procedures-table-pesquisa td {
  padding: 15px;
  text-align: left;
}



.procedures-table-pesquisa tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.instagram-link {
  /* Adicione os estilos desejados aqui */
  color: #000;
  /* Exemplo: cor do texto */
  text-decoration: none;
  /* Exemplo: remover sublinhado */
}

.instagram-link:hover {
  /* Estilos para o estado de hover */
  text-decoration: underline;
  /* Exemplo: adicionar sublinhado ao passar o mouse */
}

.disabled {
  opacity: 0.3;
  /* Deixa o botão mais transparente */
  transition: opacity 0.3s ease;
  /* Adiciona uma transição suave ao estado desabilitado */
}


/* Estilo específico de cada botão */
#btn-undo {
  background-color: #e11010;
  /* Laranja para "Desfazer" */
  color: white;
}

#btn-undo:hover {
  background-color: #ae0303;
}

#btn-redo {
  background-color: #00b006;
  /* Azul para "Refazer" */
  color: white;
}

#btn-redo:hover {
  background-color: #006a04;
}

.filter-btn {
  position: relative;
}

/* Estilos do tooltip */
.tooltip1 {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  top: 120px;
  /* Ajuste conforme necessário */
  left: 30%;
  transform: translateX(-50%);
}

.tooltip2 {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  top: 120px;
  /* Ajuste conforme necessário */
  left: 40%;
  transform: translateX(-50%);
}

.tooltip3 {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  top: 120px;
  /* Ajuste conforme necessário */
  left: 49%;
  transform: translateX(-50%);
}

.tooltip4 {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  top: 120px;
  /* Ajuste conforme necessário */
  left: 57%;
  transform: translateX(-50%);
}

.tooltip5 {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  top: 120px;
  /* Ajuste conforme necessário */
  left: 66%;
  transform: translateX(-50%);
}

.tooltip6 {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  top: 800px;
  /* Ajuste conforme necessário */
  left: 67%;
  transform: translateX(-50%);
}

.tooltip7 {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  top: 800px;
  /* Ajuste conforme necessário */
  left: 45%;
  transform: translateX(-50%);
}

.tooltip8 {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  top: 800px;
  /* Ajuste conforme necessário */
  left: 90%;
  transform: translateX(-50%);
}

.tooltip9 {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  top: 120px;
  /* Ajuste conforme necessário */
  left: 35%;
  transform: translateX(-50%);
}

.tooltip10 {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  top: 120px;
  /* Ajuste conforme necessário */
  left: 35%;
  transform: translateX(-50%);
}

.tooltip12 {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  top: 1030px;
  /* Ajuste conforme necessário */
  left: 35%;
  transform: translateX(-50%);
}

.tooltip13 {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  top: 1030px;
  /* Ajuste conforme necessário */
  left: 55%;
  transform: translateX(-50%);
}

.tooltip14 {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  top: 1030px;
  /* Ajuste conforme necessário */
  left: 77%;
  transform: translateX(-50%);
}

.tooltip15 {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  top: 950px;
  /* Ajuste conforme necessário */
  left: 77%;
  transform: translateX(-50%);
}

.tooltip16 {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  top: 950px;
  /* Ajuste conforme necessário */
  left: 77%;
  transform: translateX(-50%);
}

.filter-btn:hover+.tooltip1 {
  display: block;

}

.filter-btn:hover+.tooltip2 {
  display: block;

}

.filter-btn:hover+.tooltip3 {
  display: block;

}

.filter-btn:hover+.tooltip4 {
  display: block;

}

.filter-btn:hover+.tooltip5 {
  display: block;

}

.filter-btn:hover+.tooltip6 {
  display: block;

}

.filter-btn:hover+.tooltip7 {
  display: block;

}

.filter-btn:hover+.tooltip8 {
  display: block;

}

.filter-btn:hover+.tooltip9 {
  display: block;

}

.filter-btn:hover+.tooltip10 {
  display: block;

}

.filter-btn:hover+.tooltip12 {
  display: block;

}

.filter-btn:hover+.tooltip13 {
  display: block;

}

.filter-btn:hover+.tooltip14 {
  display: block;

}

.filter-btn:hover+.tooltip15 {
  display: block;

}

.filter-btn:hover+.tooltip16 {
  display: block;

}



.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip11 {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  /* Ajuste conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip11::after {
  content: "";
  position: absolute;
  top: 100%;
  /* Ajuste conforme necessário */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltip-wrapper:hover .tooltip11 {
  visibility: visible;
  opacity: 1;
}