@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@media (max-width: 5000px) {

    :root {
        --font-size-default: 16px;
    }

    body {
        font-size: var(--font-size-default);
        font-family: Poppins, sans-serif;
        padding: 2rem;
        margin: 0;
        overflow-x: hidden; /* Evita que a página tenha rolagem horizontal */
    }

    /* Impedir que o main cause overflow */
    main {
        max-width: 100%;
        overflow-x: hidden; /* Garante que o conteúdo extra não cause rolagem */
    }

    #greeting1,
    #greeting2,
    h2,
    span,
    button {
        transition: font-size 0.3s ease;
    }

    /* Ajuste de tamanho da fonte para responsividade */
    @media (max-width: 768px) {
        body {
            font-size: 14px;
        }
    }

    /* Estilos da barra de navegação */
    .nav-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #d9006c;
        display: flex;
        justify-content: space-around;
        padding: 1rem 0;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .nav-bar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        overflow-x: hidden; /* Prevenir overflow horizontal */
    }

    /* Estilo dos itens da navbar */
    .nav-bar ul li {
        flex: 1;
        text-align: center;
    }

    /* Estilo para o botão central */
    .nav-bar .central a {
        background-color: #000;
        color: white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    /* Estilo dos ícones */
    .nav-bar .list a {
        text-decoration: none;
        color: #000;
        display: flex;
        flex-direction: column;
    }

    /* Ajuste de ícones da navbar */
    .nav-bar .icon {
        font-size: 30px;
        color: #ffffff;
    }

    /* Saudação */
    .saudacao {
        background-color: #d9006c;
        margin-bottom: 1.5rem;
        color: #ffffff;
        padding: 1.3rem;
        border-radius: 3vh;
        box-shadow: 10px 0 0 #ffffff;
    }

    .acessibilidade {
        display: flex;
        flex-direction: row-reverse;
    }

    .acessibilidade button {
        margin: 0.2rem;
    }

    #greeting1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    #greeting2 {
        font-size: 20px;
    }

    .pesquisa img {
        width: 1.5rem;
    }

    .pesquisa {
        display: flex;
        flex-direction: row-reverse;
    }

    /* Botão de acesso */
    .button-container {
        display: flex;
        justify-content: center;
    }

    .button-container button {
        padding: 1rem;
        background-color: #ffffff;
        border-radius: 1vh;
        display: flex;
        align-items: center;
        border: 1px solid #000000;
        font-weight: bold;
        text-decoration: none;
        color: #000;
        font-family: Poppins, sans-serif;
    }

    .button-container button {
        font-size: 18px;
        font-family: Poppins, sans-serif;
    }

    .button-container button:hover {
        background-color: #d9006c;
        border: 1px solid #d9006c;
    }

    .button-container button a :hover {
        color: #ffffff;
    }

    /* Aviso de procedimento */
    .descricao-aviso {
        display: flex;
        justify-content: center;
    }

    
.box-agendamento-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.box-agendamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #FFF2F7;
    border: 1px solid #AD9393;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.icon-agendamento {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-procedimento img {
    width: 70%;
    height: auto;
}

.icon-procedimento {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.procedimento-agendamento {
    flex: 1;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}

.procedimento-agendamento span {
    font-size: 14px;
    color: #333;
}


.button-flex {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.edit img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

     
      

    .procedimento-agendamento span {
        display: flex;
        margin-left: 35px;
    }

    .button-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .button-flex img {
        width: 3vw;
        margin: 0.8vh;
        cursor: pointer;
    }

    #openStatusModalBtn2 {
        border: none;
        background-color: #FFF0F5;
    }

    /* Gráficos */
    #titulo-dash {
        display: flex;
        align-items: center;
    }

    #titulo-dash img {
        width: 2rem;
        height: 2rem;
    }

    .card-content-2 {
        justify-content: space-between;
        width: 100%;
        margin-top: 15px;
        align-items: center;
    }

    .card-graficos {
        width: 100%; /* Garante que o card gráfico não exceda a largura da tela */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
    }

    #chartProcedimentosUsuarioMes {
        height: 400px !important;
    }
    

    .caixa-grafico, #chart33 {
        width: 108%; /* Corrigido para 100% da largura disponível */
        max-width: 108%;
    }

    .card-graficos p {
        display: flex;
        flex-direction: row;
        color: black;
        font-weight: 550;
        font-size: smaller;
        width: 100%; /* Responsividade assegurada */
    }

    /* Personalidade */
    #destaque {
        font-weight: bold;
    }

    .personalidade {
        margin-bottom: 5rem;
        margin-top: -12rem;
    }

    /* Corrigir problema de rolagem lateral para o box-agendamento2 */
    .box-agendamento2 {
        width: 100%; /* Largura ajustada */
        display: flex;
        margin-right: 0;
    }

    /* Espaço adicional entre a seção de indicações e Suas atividades */
    #atividades {
        margin-top: 0rem; /* Aumenta o espaço antes da seção "Suas atividades" */
    }

    /* Espaço adicional entre as seções abaixo de Suas atividades */
    #Personalidade {
        margin-top: 15rem; /* Adiciona mais espaço antes da seção "Personalidade" */
    }

    /* Ajustar a posição para subir "Dia mais agendado" e "Horário mais agendado" */
    .frequencia {
        margin-top: -10rem; /* Sobe ainda mais a seção de "Dia mais agendado" e "Horário mais agendado" */
        padding: 0;
    }

    /* Reduzir espaço extra entre as informações */
    .frequencia h3, .frequencia span {
        margin: 0; /* Remove as margens para que os elementos fiquem ainda mais próximos */
    }

    
}