@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@media (max-width: 5000px) {

    :root {
        --font-size-default: 16px;
    }

    body {
        font-size: var(--font-size-default);
        font-family: Poppins, sans-serif;
        padding: 2rem;
    }

    #greeting1,
    #greeting2,
    h2,
    span,
    button {
        transition: font-size 0.3s ease;
    }

    /* Font size adjustment for responsiveness */
    @media (max-width: 768px) {
        body {
            font-size: 14px;
        }
    }


    .nav-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #d9006c;
        display: flex;
        justify-content: space-around;
        padding: 1rem 0;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .nav-bar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    /* Estilo para os itens da navbar */
    .nav-bar ul li {
        flex: 1;
        text-align: center;
    }

    /* Estilo para o botão central */
    .nav-bar .central {
        position: relative;
        /* Levanta o botão central */
    }

    .nav-bar .central a {
        background-color: #000;
        color: white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    /* Estilo para os outros ícones */
    .nav-bar .list a {
        text-decoration: none;
        color: #000;
        display: flex;
        flex-direction: column
    }

    /* Estilo dos ícones */
    .nav-bar .icon {
        font-size: 24px;
        color: #000;
    }

    .saudacao {
        background-color: #d9006c;
        margin-bottom: 1.5rem;
        color: #ffffff;
        padding: 1.3rem;
        border-radius: 3vh;
        box-shadow: 10px 0 0 #ffffff;
    }


    .acessibilidade {
        display: flex;
        flex-direction: row-reverse;
    }

    .acessibilidade button {
        margin: 0.2rem;
    }

    #greeting1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    #greeting2 {
        font-size: 20px;
    }


    .pesquisa img {
        width: 1.5rem;
    }

    .pesquisa {
        display: flex;
        flex-direction: row-reverse;
    }

    /* Acesso */

    .button-container {
        display: flex;
        justify-content: center;

    }

    .button-container button {
        padding: 1rem;
        background-color: #ffffff;
        border-radius: 1vh;
        display: flex;
        align-items: center;
        border: 1px solid #7c7e80;
        font-weight: bold;
    }

    .descricao-aviso {
        display: flex;
        justify-content: center;
    }

    .ver-ultimo a {
        font-weight: lighter;
        display: flex;
        justify-content: center;
        margin: 0 1rem 1rem 2rem;
        color: #000;
        cursor: pointer;
        font-weight: bold;
    }

    .box-agendamento {
        padding: 2rem;
        border-radius: 3vh;
        box-shadow: 10px 0 0 #ffffff;
        display: flex;
        height: 8rem;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

    }


    .icon-agendamento img {
        border-radius: 100%;
        background-color: #FFF0F5;
        padding: 0.2rem;

    }

    .procedimento-agendamento span {
        display: flex;
        margin-left: 35px;
    }

    .button-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .button-flex img {
        width: 3vw;
        margin: 0.8vh;
        cursor: pointer;
    }

    #openStatusModalBtn2 {
        border: none;
        background-color: #FFF0F5;
    }

     /* Gráficos */

     #titulo-dash{
        display: flex;
        align-items: center;
    }
    #titulo-dash img{
        width: 2rem ;
        height: 2rem ;
    }

    .card-content-2 {
        justify-content: space-between;
        width: 100%;
        margin-top: 15px;
        align-items: center;
    }

    .card-graficos {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .caixa-grafico, #chart33 {
        width: 90%;
    }

    .card-graficos p {
        display: flex;
        flex-direction: row;
        color: black;
        font-weight: 550;
        font-size: smaller;
        width: 400px
    }

    .card p {
        display: flex;
        flex-direction: row;
        color: black;
    }

    /* Personalidade */

    #destaque {
        font-weight: bold;
    }

    .personalidade {
        margin-bottom: 5rem;
    }

#atividades {
    margin-top: 500px;
}

.box-agendamento2{
    display: flex;
    margin-right: 70px;
}

}