@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}

.corpo {
    display: flex;
    background-color: #ffffff;
    height: 135vh;
    width: 97vw;
}

.main-content {
    display: flex;
    width: 100%;
  }
  
.container {
    display: flex;
    width: 100%;
}

.edit-btn,
.delete-btn,
.more-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 2px;
}

aside {
    background-color: #d9006c;
    color: white;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 992px) {
    #main {
        margin-top: 30px;
    }
}

#main {
    margin-top: 50px;
}

@media (max-width: 992px) {
    #main {
        margin-top: 30px;
    }
}

/*--------------------------------------------------------------
      Inicio Nav
      --------------------------------------------------------------*/

.profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile h2 {
    margin: 10px 0 5px;
}

.profile p {
    margin: 0;
    font-size: 0.9em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
}

nav ul li {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

/*--------------------------------------------------------------
      navbar  lateral
      --------------------------------------------------------------*/

.navigation {
    height: auto;
    background: #d2135d;
    width: 19vw;
    top: 2vh;
    margin-left: 3vw;
    border-radius: 3vh;
    margin-bottom: 2vh;
    box-shadow: 10px 0 0 #ffffff;
    border-left: 10px solid #d2135d;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.perfil {
    padding: 5vh;
}

.navigation .perfil .imagem-perfil {
    width: 20vh;
    height: 20vh;
    border-radius: 300px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.navigation .perfil .imagem-perfil img {
    margin: 1vh;
    width: 53vh;
    height: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.perfil #userName {
    display: flex;
    list-style: none;
    color: white;
    font-weight: 600;
    margin-top: 6vh;
    justify-content: center;
}

.perfil #userInsta {
    list-style: none;
    color: white;
    font-weight: 200;
    font-size: 12px;
    margin-top: 0.5vh;
    display: flex;
    justify-content: center;
}

/*--------------------------------------------------------------
      Final Nav
      
      Inicio Main
      --------------------------------------------------------------*/

main {
    background-color: #ffffff;
    width: 75vw;
}

header {
    background-color: #d2135d;
    color: white;
    padding: 3vh;
    border-radius: 3vh;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 0.8rem;
}

header h1 {
    margin: 1vh;
    font-size: 3vh;
}

header p {
    margin: 1vh;
    font-size: 2vh;
}


#greeting1 {
    font-size: 3.5vh;
    font-weight: bold;
}

#greeting2 {
    font-size: 2.5vh;
}

/*--------------------------------------------------------------
# Links
 --------------------------------------------------------------*/

.navigation ul {
    position: absolute !important;
    top: 30vh;
    left: 0;
    width: 100%;
    padding-left: 1vw;
    padding-top: 10vh;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 8vh;
    margin-bottom: 2.5vh;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 3vw;
    height: 3vh;
    text-align: center;
    line-height: 70px;
}

.navigation ul li a .icon ion-icon {
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 1.5vw;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
    font-size: 15px;
}

.navigation ul li.active {
    color: black;
    background: #ffffff;
}

.navigation ul li.active a {
    color: black;
    /* Cor do texto quando ativo */
}

.navigation ul li.active a .icon ion-icon {
    color: black;
    /* Cor do ícone quando ativo */
}

.navigation ul li.active a::before {
    content: "";
    position: absolute;
    bottom: 8vh;
    right: 0;
    width: 5vh;
    height: 5vh;
    background: #d2135d;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #ffffff;
    color: black;
}

.navigation ul li.active a::after {
    content: "";
    position: absolute;
    top: 8vh;
    right: 0;
    width: 5vh;
    height: 5vh;
    background: #d2135d;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #ffffff;
}

/*--------------------------------------------------------------
      Final Nav
      Inicio Notifications
      ---------------------------------------------------------------*/
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.notification.show {
    opacity: 1;
}

.notification.error {
    background-color: #dc3545;
}

.notification svg {
    margin-right: 10px;
}

/* Progress Bar */
.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}

.progress-container span {
    flex: 1;
    text-align: center;
    font-size: 14px;
    color: #d2135d;
}

.progress-bar {
    position: relative;
    flex: 6;
    height: 15px;
    background-color: #f3f3f3;
    border-radius: 10px;
    margin: 0 10px;
    overflow: hidden;
}

.progress {
    position: absolute;
    height: 100%;
    background-color: #d2135d;
    width: 70%;
    /* Adjust this percentage based on completed appointments */
}


.card h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.subtext {
    font-size: 14px;
    color: gray;
    margin: 0 0 20px 0;
}

.line-chart-placeholder {
    background-color: #e0e0e0;
    height: 300px;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.footer p {
    margin: 0;
    font-size: 14px;
    color: gray;
}

.legend {
    display: flex;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.legend-color {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    margin-right: 5px;
}

.legend-color.clientes {
    background-color: #e62762;
    /* rosa para Clientes */
}

.legend-color.leads {
    background-color: #ff5ba3;
    /* rosa claro para Leads */
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.card-graficos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.caixa-grafico {
    width: 90%;

}

.card-graficos p {
    display: flex;
    flex-direction: row;
    color: black;
    margin-left: 35px;
    margin-right: 20px;
    font-weight: 550;
    font-size: smaller;
    width: 400px
}

.card p {
    display: flex;
    flex-direction: row;
    color: black;
    margin-left: 5px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 8px;
}

.card-content-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 35px;
    margin-top: 15px;
    align-items: center;
}

.card-content-2 h1 {
    font-size: x-large;
    font-weight: 1400;
}

.card-content-2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    background-color: #fff;
    border-radius: 15px;
    padding: 5px;
    margin-right: 23px;
    margin-left: 0px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
    height: fit-content;
    width: 170px;
}

.indicator {
    height: 110px;
    width: 4px;
    background-color: #e62762;
    /* rosa */
    /* position: absolute;
    left: 0;
    top: 0;*/
    border-radius: 10px 10px 10px 10px;
}

.card-content p {
    margin: 5px 0;
    font-size: 25px;

}

.card-content h2 {
    margin: 5px 0;
    font-size: 30fpx;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #e62762;
    /* rosa */
    margin-left: 5px;
}

.growth {
    color: #e62762;
    /* rosa */
    font-size: 17px;
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
}

.growth i {
    font-size: 0
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.mini-square {
    display: flex;
    width: 224px;
    height: 167px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.mini-square-usabilidade {
    display: flex;
    width: 308px;
    height: 167px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.mini-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    row-gap: 33px;
}

.mini-grid-usabilidade {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    row-gap: 33px;
}

.tab-content {
    display: none;
    /* Esconde todo o conteúdo inicialmente */
}

.tab-content.active {
    display: block;
    /* Mostra o conteúdo ativo */
}

.square {
    width: 478px;
    height: 369px;
    border-radius: 10px;
    /* Bordas arredondadas */
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.triple-square {

    width: 985px;
    border-radius: 10px;
    padding-bottom: 20px;
    /* Bordas arredondadas */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.square-usabilidade {
    width: 985px;
    height: 369px;
    border-radius: 10px;
    /* Bordas arredondadas */
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.chartContainer {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    display: flex;
    width: 146vh;
    height: auto;
    justify-content: flex-end;
}

.tab-button {
    border: 2px solid #D2135D;
    background-color: #D2135D;
    color: #fff;
    border-radius: 12px 12px 0 0;
    padding: 10px 20px;
    cursor: pointer;
    width: 130px;
    transition: background-color 0.3s ease, border 0.3s ease;
}

.tab-button.selected {
    background-color: #e62762;
    /* Cor mais escura para o botão ativo */
    border: 5px solid #ffffff;
    /* Contorno ao redor do botão ativo */
    height: 110%;
    border-radius: 12px 12px 12px 12px;
}

.tab-button:hover {
    background-color: #ff3e78;
    /* Muda a cor ao passar o mouse */
    border: 2px solid #4e0c2a;
    /* Adiciona uma borda no hover */
    border-radius: 12px 12px 0 0;
}

.tab-button:last-child {
    margin-right: 0;
}

.summary-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 1000px;
    max-width: 800px;
}

.summary-card {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid rgb(97, 97, 97);
    padding: 20px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.search-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    width: 80%;
    max-width: 800px;
}

.search-section input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #D2135D;
    width: 200px;
}

.search-section button {
    background-color: #D2135D;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    width: 160vw;
    width: fit-content;
    border: 2.5px solid #D2135D;
    border-radius: 10px 0 10px 10px;
    justify-content: center;
    background-color: #fdd9e5;
    padding: 20px;
}

.charts-usabilidade {
    display: flex;
    width: 160vw;
    width: fit-content;
    border: 2.5px solid #D2135D;
    border-radius: 10px 0 10px 10px;
    background-color: #fdd9e5;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.top-cards {
    display: flex;
}

.chart-container {
    background-color: #fff;
    border-radius: 10px;

    width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.chart-container h3 {
    margin-bottom: 10px;
}

.chart-container canvas {
    display: flex;
    max-width: 100%;
    height: 300px;
    padding-bottom: 30px;
    /* Altura fixa para os gráficos */
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal-content p {
    margin-bottom: 10px;
}

.btn {
    background-color: #D2135D;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}

.btn-yes {
    background-color: #d81b60;
}

.btn-no {
    background-color: #aaa;
}

.conteudo {
    display: flex;

    flex-direction: column;
    align-items: flex-end;
}