@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@media (max-width: 5000px) {

    :root {
        --font-size-default: 16px;
    }

    body {
        font-size: var(--font-size-default);
        font-family: Poppins, sans-serif;
        padding: 2rem;
    }


    #titulo-saudacao,
    #titulo,
    #subtitulo,
    h2,
    span,
    button {
        transition: font-size 0.3s ease;
        border: none;
    }

    /* Font size adjustment for responsiveness */
    @media (max-width: 768px) {
        body {
            font-size: 14px;
        }
    }


    .nav-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #d9006c;
        display: flex;
        justify-content: space-around;
        padding: 1rem 0;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .nav-bar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    /* Estilo para os itens da navbar */
    .nav-bar ul li {
        flex: 1;
        text-align: center;
    }

    /* Estilo para o botão central */
    .nav-bar .central {
        position: relative;
        /* Levanta o botão central */
    }

    .nav-bar .central a {
        background-color: #000;
        color: white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    /* Estilo para os outros ícones */
    .nav-bar .list a {
        text-decoration: none;
        color: #000;
        display: flex;
        flex-direction: column
    }

    /* Estilo dos ícones */
    .nav-bar .icon {
        font-size: 30px;
        color: #ffffff;
    }


    .introducao {
        background-color: #d9006c;
        color: #ffffff;
        padding: 1.3rem;
        border-radius: 3vh;
        box-shadow: 10px 0 0 #ffffff;
    }

    .acessibilidade {
        display: flex;
        flex-direction: row-reverse;
    }

    .acessibilidade button {
        margin: 0.2rem;
    }

    #titulo {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    #subtitulo {
        font-size: 20px;
    }


    .pesquisa img {
        width: 1.5rem;
    }

    .pesquisa {
        display: flex;
        flex-direction: row-reverse;
    }


    #titulo-flex {
        display: flex;
        align-items: center;
    }

    #icon-alert {
        width: 2rem;
        height: 2rem;
    }

    #destaque {
        font-weight: bold;
    }

    .content {
        margin-top: 2rem;
    }


    .content-flex {
        display: flex;
        margin-top: 2rem;
        justify-content: space-around
    }

    .content2 {
        margin-top: 2rem;
        margin-bottom: 5rem;
    }


    .input-content {
        margin-bottom: 1rem;
        height: 3rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .input-content input {
        border: none;
        background-color: #ffeceb;
        height: 70%;
        width: 70%;
        border-radius: 1vh;
        padding: 0.5rem;
        margin-top: 0.5rem;
    }

    .response-content select {
        border: none;
        background-color: #ffeceb;
        height: 70%;
        width: 80%;
        border-radius: 1vh;
        padding: 0.5rem;
    }

    #icon-create {
        width: 2rem;
        height: 2rem;
    }

    .button-container {
        display: flex;
        justify-content: center;

    }

    .content2 button {
        padding: 3vw;
        background-color: #ffeceb;
        border-radius: 1vh;
        display: flex;
        align-items: center;
        border: 1px solid #7c7e80;
        ;
    }

    #icon-ficha {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
    }


    .form-group { margin-bottom: 15px; }
        label { font-weight: bold; }
        input, select { margin-left: 10px; }

        #formulario{
            margin-bottom: 60px;
        }

        .notification {
            position: fixed;
            top: 20px;
            right: 20px;
            background-color: #28a745;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            z-index: 1000;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
          }
          
          .notification.show {
            opacity: 1;
          }
          
          .notification.error {
            background-color: #dc3545;
          }
          
          .notification svg {
            margin-right: 10px;
          }

}
