@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@media (max-width: 5000px) {

    :root {
        --font-size-default: 16px;
    }

    body {
        font-size: var(--font-size-default);
        font-family: Poppins, sans-serif;
        padding: 2rem;
    }

    #greeting1,
    #greeting2,
    h2,
    span,
    button {
        transition: font-size 0.3s ease;
    }

    /* Font size adjustment for responsiveness */
    @media (max-width: 768px) {
        body {
            font-size: 14px;
        }
    }


    .nav-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #d9006c;
        display: flex;
        justify-content: space-around;
        padding: 1rem 0;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .nav-bar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    /* Estilo para os itens da navbar */
    .nav-bar ul li {
        flex: 1;
        text-align: center;
    }

    /* Estilo para o botão central */
    .nav-bar .central {
        position: relative;
        /* Levanta o botão central */
    }

    .nav-bar .central a {
        background-color: #000;
        color: white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    /* Estilo para os outros ícones */
    .nav-bar .list a {
        text-decoration: none;
        color: #000;
        display: flex;
        flex-direction: column
    }

    /* Estilo dos ícones */
    .nav-bar .icon {
        font-size: 24px;
        color: #000;
    }

    .retorno img {
        width: 1.5rem;
    }

    .retorno {
        display: flex;
        flex-direction: row-reverse;
    }

    /* 
    Formulario */

    .label {
        padding: 0.5vw;
        margin-right: 2vw;
        width: 100%;
    }

    .box-dados [type="text"],
    .box-dados [type="number"],

    .box-dados [type="password"],
    .box-dados [type="date"],
    .box-dados [type="email"],
    .box-dados select {
        padding: 1vw;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 0.2vw;
        width: 90%;
        justify-content: center;
        background-color: #fff0f5;
    }

    .imagem [type="file"] {
        padding: 0;
        padding: 1vw;
        border-radius: 5px;
        margin: 0.2vw;
        width: 70%;
        justify-content: center;

    }
    
    .box-imagem {
        padding: 1vw;
        display: flex;
        justify-content: center
    }

    .box-imagem p{
        margin: 5;
        font-size: smaller;
      }

    .imagem {
        background-color: #F1C3D5;
        padding: 0.5vw;
        border: 2px dotted #000000;
        margin: 1vw;
        width: 55%;
        height: 50%;
    }

    .image {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        img {
            width: 50%;
        }
    }

    .box-dados [type="number"] {
        display: inline-block;
        background-color: #fff0f5;
    }

    .box-dados [type="number"]+input[type="number"] {
        margin-left: 20px;
        background-color: #fff0f5;
    }

    .button-container {
        display: flex;
        justify-content: center;
        padding-top: 2vw;
        padding-right: 0.9vw;
    }

    .save-button {
        display: flex;
        align-items: center;
        background-color: #fff0f5;
        border: none;
        border-radius: 10px;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-top: 1rem;

        svg {
            margin-right: 10px;
            width: 20rem;
            height: 20rem;
        }
    }

    .save-button:hover {
        background-color: #F1C3D5;
        transition-duration: 500ms;
    }

    #dados{
        margin-bottom: 5rem;
    }

    #icon-save{
        margin-right: 1rem;

    }
}