@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;

  margin: 0;
  padding: 0;
}

.corpo {
  display: flex;
  background-color: #ffffff;
  height: 135vh;
  width: 97vw;
}

.container {
  display: flex;
  width: 100%;
}

.edit-btn,
.delete-btn,
.more-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 2px;
}

aside {
  background-color: #d9006c;
  color: white;
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 992px) {
  #main {
    margin-top: 30px;
  }
}

#main {
  margin-top: 50px;
}

@media (max-width: 992px) {
  #main {
    margin-top: 30px;
  }
}

/*--------------------------------------------------------------
Inicio Nav
--------------------------------------------------------------*/

.profile img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.profile h2 {
  margin: 10px 0 5px;
}

.profile p {
  margin: 0;
  font-size: 0.9em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  width: 100%;
}

nav ul li {
  padding: 10px;
  text-align: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

/*--------------------------------------------------------------
navbar  lateral
--------------------------------------------------------------*/

.navigation {
  height: auto;
  background: #d2135d;
  width: 19vw;
  top: 2vh;
  margin-left: 3vw;
  border-radius: 3vh;
  margin-bottom: 2vh;
  box-shadow: 10px 0 0 #ffffff;
  border-left: 10px solid #d2135d;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.perfil {
  padding: 5vh;
}

.navigation .perfil .imagem-perfil {
  width: 20vh;
  height: 20vh;
  border-radius: 300px;
  display: flex;
  justify-content: center;
  list-style: none;
}

.navigation .perfil .imagem-perfil img {
  margin: 1vh;
  width: 53vh;
  height: 23vh;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.perfil #userName {
  display: flex;
  list-style: none;
  color: white;
  font-weight: 600;
  margin-top: 6vh;
  justify-content: center;
}

.perfil #userEmail {
  list-style: none;
  color: white;
  font-weight: 200;
  font-size: 12px;
  margin-top: 0.5vh;
  display: flex;
  justify-content: center;
}

/*--------------------------------------------------------------
Final Nav

Inicio Main
--------------------------------------------------------------*/

main {
  background-color: #ffffff;
  width: 75vw;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #d2135d;
  color: white;
  padding: 2vh;
  border-radius: 3vh;
  margin-bottom: 2vh;
  margin-top: 2vh;
  margin-left: 2%;
  height: 14vh;
}

header h1 {
  margin: 1vh 0vh 0vh 2vh;
  font-size: 3vh;
}

header p {
  margin: 0vh 0vh 0vh 2vh;
  font-size: 2vh;
}

.main-content {
  display: flex;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/

.navigation ul {
  position: absolute !important;
  top: 30vh;
  left: 0;
  width: 100%;
  padding-left: 1vw;
  padding-top: 10vh;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation ul li a {
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: #fff;
  height: 8vh;
  margin-bottom: 2.5vh;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 3vw;
  height: 3vh;
  text-align: center;
  line-height: 70px;
}

.navigation ul li a .icon ion-icon {
  position: relative;
  font-size: 1.5rem;
  z-index: 1;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding-left: 1.5vw;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
  font-size: 15px;
}

.navigation ul li.active {
  color: black;
  background: #ffffff;
}

.navigation ul li.active a {
  color: black;
  /* Cor do texto quando ativo */
}

.navigation ul li.active a .icon ion-icon {
  color: black;
  /* Cor do ícone quando ativo */
}

.navigation ul li.active a::before {
  content: "";
  position: absolute;
  bottom: 8vh;
  right: 0;
  width: 5vh;
  height: 5vh;
  background: #d2135d;
  border-radius: 50%;
  box-shadow: 15px 15px 0 #ffffff;
  color: black;
}

.navigation ul li.active a::after {
  content: "";
  position: absolute;
  top: 8vh;
  right: 0;
  width: 5vh;
  height: 5vh;
  background: #d2135d;
  border-radius: 50%;
  box-shadow: 15px -15px 0 #ffffff;
}

/*--------------------------------------------------------------
Final Nav
Inicio Notifications
---------------------------------------------------------------*/
.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.notification.show {
  opacity: 1;
}

.notification.error {
  background-color: #dc3545;
}

.notification svg {
  margin-right: 10px;
}

/* Progress Bar */
.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}

.progress-container span {
  flex: 1;
  text-align: center;
  font-size: 14px;
  color: #d2135d;
}

.progress-bar {
  position: relative;
  flex: 6;
  height: 15px;
  background-color: #f3f3f3;
  border-radius: 10px;
  margin: 0 10px;
  overflow: hidden;
}

.progress {
  position: absolute;
  height: 100%;
  background-color: #d2135d;
  width: 70%;
  /* Adjust this percentage based on completed appointments */
}

.flex {
  display: flex;
  gap: 10px;
}

/*--------------------------------------------------------------
Final Notifications
Inicio Filtros
---------------------------------------------------------------*/

.center-content {
  display: flex;
  flex-direction: column;
  width: 68vw;
  height: auto;
  margin-top: 1vh;
  margin-left: 2vw;
  border-radius: 10px;
  overflow: hidden;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.actions button {
  background-color: #ffffff;
  display: flex;
  font-family: Poppins, sans-serif;
  height: 5vh;
  width: 7vw;
  justify-content: center;
  margin: 2vh;
  padding: 2vh;
  align-items: center;
  font-size: 16px;
  border-radius: 1vh;
  border: 1px solid black;
  cursor: pointer;
}

.right-actions {
  display: flex;
}

.right-actions button {
  background-color: #ffffff;
  display: flex;
  font-family: Poppins, sans-serif;
  width: auto;
  margin: 2vh;
  justify-content: center;
  padding: 3.5vh;
  font-size: 16px;
  border-radius: 1vh;
  border: 1px solid black;
  cursor: pointer;
}

.actions button:hover {
  background-color: #d9006c;
  color: #dcf5f2;
  transition-duration: 500ms;
}

.actions button i {
  margin-right: 10px;
  font-size: 20px;
}

.actions a {
  text-decoration: none;
}

.actions img {
  height: 5vh;
}

.right-actions img {
  height: 5vh;
}

/*--------------------------------------------------------------
Final Actions
Inicio Tabela de procedimentos
---------------------------------------------------------------*/

.procedures-table {
  width: 150vh;
  max-width: 150vh;
  border-collapse: collapse;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 4.5%;
  margin-right: auto;
}

.procedures-table thead {
  background-color: #d2135d;
  color: #fff;
}

.procedures-table th,
.procedures-table td {
  padding: 15px;
  text-align: left;
}

.procedures-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  background-color: #ffffff;
  display: flex;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  height: 5vh;
  justify-content: center;
  margin: 1vh;
  padding: 2vh;
  align-items: center;
  border-radius: 1vh;
  border: 1px solid black;
  cursor: pointer;
}

.pagination span {
  display: flex;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  justify-content: center;
  padding: 1vh;
  align-items: center;
  color: #d2135d;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.modal-content p {
  margin-bottom: 20px;
  font-size: 18px;
}

.modal-content .btn {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.modal-content .btn-yes,
.btn-save {
  background-color: #28a745;
  color: white;
}

.modal-content .btn-no {
  background-color: #dc3545;
  color: white;
}

.modal-content .btn-yes:hover {
  background-color: #218838;
}

.modal-content .btn-no:hover {
  background-color: #c82333;
}

.modal-content2 {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.modal-content2 p {
  margin-bottom: 20px;
  font-size: 18px;
}

.modal-content2 .btn {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.modal-content2 .btn-yes,
.btn-save {
  background-color: #28a745;
  color: white;
}

.modal-content2 .btn-no {
  background-color: #dc3545;
  color: white;
}

.modal-content2 .btn-yes:hover {
  background-color: #218838;
}

.modal-content2 .btn-no:hover {
  background-color: #c82333;
}

#edit-nome,
#filter-from,
#filter-to,
#filter-client,
#filter-procedure,
#filter-specification {
  width: 30%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

#edit-cor {
  width: 30%;
  padding-right: 30px;
  padding-left: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

/* Modal styles */
#status-modal .modal-content {
  width: 80%;
  max-width: 800px;
}

#status-modal .modal-content table {
  width: 100%;
}

#filter-modal .modal-content {
  width: 40%;
  max-width: 600px;
}

#filter-modal .modal-content label {
  margin: 10px 0 5px;
}

#status-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#status-modal .table-header {
  display: flex;
  align-items: center;
  background-color: #d2135d;
  padding: 2.5vh 2.5vw;
}

#status-modal .table-header h1 {
  margin: 0;
  color: #fff;
  font-size: 1.1em;
  width: 100%;
  /* Define a largura do título para 50% */
}

#status-modal table {
  width: 100%;
  border-collapse: collapse;
}

#status-modal thead {
  background-color: #fff0f5;
}

#status-modal th,
#status-modal td {
  padding: 15px;
  text-align: center;
  border: 1px solid #000;
}

#status-modal th {
  font-size: 0.9em;
  color: #333;
}

#status-modal td {
  font-size: 0.8em;
  color: #000000;
}

.criar-btn a span {
  color: black;
  /* Altere 'red' para a cor desejada */
}

.close-button {
  display: flex;
  justify-content: end;
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  margin-top: -20px;
}

.close-button:hover {
  color: white;
  /* Muda a cor ao passar o mouse */
}

.detalhes-button {
  display: flex;
  justify-content: end;
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  margin-top: -20px;
}

.detalhes-button:hover {
  color: #d2135d;
  /* Muda a cor ao passar o mouse */
}

.edit-btn:hover,
.delete-btn:hover,
.more-btn:hover {
  color: #d81b60;
}

#edit-nome2 {
  width: 30%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

#edit-cor2 {
  width: 30%;
  height: 33px;
  padding: 8px 20px 8px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.tabs {
  display: flex;
  width: 146vh;
  justify-content: flex-end;
  margin-bottom: -30px;
}

.tab-button {
  background-color: #91214a;
  /* Cor padrão dos botões */
  color: #fff;
  border: none;
  border-radius: 12px 12px 0 0;
  padding: 10px 20px;
  cursor: pointer;
  width: 130px;
}

.tab-button.active {
  background-color: #d2135d;
  /* Cor do botão ativo */
}

.tab-button:hover {
  background-color: #c2185b;
  /* Cor ao passar o mouse (opcional) */
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="password"],
input[type="date"],
input[type="email"],
select {
  padding: 0.3vw;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 0.2vw;
  margin-left: 0.2vw;
  margin-top: 15px;
  width: 50%;
}

.disabled-input {
  pointer-events: none;
  user-select: none;
  background-color: #f0f0f0;
  /* Opcional: para indicar visualmente que está desativado */
}

.btn-disabled {
  /* Cor do texto mais clara */
  cursor: not-allowed !important;
  /* Mostrar o cursor de "não permitido" */
  opacity: 0.6;
  /* Diminuir a opacidade para aparência apagada */
}

/* Estilo para tornar as linhas da tabela clicáveis */
table tr.clickable-row {
  cursor: pointer;
  /* Altera o cursor para indicar que a linha é clicável */
}

table tr.clickable-row:hover {
  background-color: #f1f1f1;
  /* Cor de fundo ao passar o mouse (opcional) */
}