.divDados {
  background-color: FFF0F5;
  justify-content: space-between;
  background-color: #fff0f5;
  display: flex;
  justify-content: space-around;
  padding: 8px;
  /* border-radius: 5px; */
}

.divDados span {
  color: black;
}

.titulo {
  background-color: #e70069;
  width: 98%;
  border: solid black 0.5px;
  border-radius: 5px;
  margin-left: 2.1%;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo span {
  margin-left: 1%;
}

#juntandoDiv {
  display: flex;
  flex-direction: column;
}

.center-content {
  width: 100%;
  margin-left: 0%;
}

#juntandoDiv img {
  width: 30px;
  margin-left: 8%;
}

a:link {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

.spanVoltar {
  margin-bottom: 5%;
}

.perfil #userName {
  display: flex;
  list-style: none;
  color: white;
  font-weight: 600;
  margin-top: 6vh;
  justify-content: center;
}

.perfil #userInsta {
  list-style: none;
  color: white;
  font-weight: 200;
  font-size: 12px;
  margin-top: 0.5vh;
  display: flex;
  justify-content: center;
}

.input-content {
  width: 25%;
  margin: 10px;
}

.m {
  margin-left: 10px;
}
