@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

.corpo {
  display: flex;
  background-color: #ffffff;
  height: 135vh;
  width: 97vw;
}

.container {
  display: flex;
  width: 100%;
}

main {
  background-color: #ffffff;
  width: 75vw;
}

.main-content {
  display: flex;
  width: 100%;
}

header {
  background-color: #d2135d;
  color: white;
  padding: 3vh;
  border-radius: 3vh;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 0.8rem;
}

header h1 {
  margin: 1vh;
  font-size: 3vh;
}

header p {
  margin: 1vh;
  font-size: 2vh;
}

#greeting1 {
  font-size: 3.5vh;
  font-weight: bold;
}

#greeting2 {
  font-size: 2.5vh;
}

.center-content {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 1vh;
  margin-left: 2vw;
  border-radius: 10px;
  overflow: hidden;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.actions button {
  background-color: #ffffff;
  display: flex;
  font-family: Poppins, sans-serif;
  height: 5vh;
  width: 7vw;
  justify-content: center;
  margin: 2vh;
  padding: 2vh;
  align-items: center;
  font-size: 16px;
  border-radius: 1vh;
  border: 1px solid black;
  cursor: pointer;
}

.right-actions {
  display: flex;
  width: 5%;
}

.right-actions button {
  background-color: #ffffff;
  display: flex;
  font-family: Poppins, sans-serif;
  width: auto;
  margin: 2vh;
  justify-content: center;
  padding: 3.5vh;
  font-size: 16px;
  border-radius: 1vh;
  border: 1px solid black;
  cursor: pointer;
}

.actions button:hover {
  background-color: #d9006c;
  color: #dcf5f2;
  transition-duration: 500ms;
}

.actions button i {
  margin-right: 10px;
  font-size: 20px;
}

.actions a {
  text-decoration: none;
}

.actions img {
  width: 5vh;
}

.right-actions img {
  width: 5vh;
}

.actions button:hover,
.button-page:hover {
  background-color: #d81b60;
  color: #fff;
  border: none;
}

.planilha-btn {
  margin-right: 10px;
}

.actions button img {
  width: 25px;
  margin-right: 5 px;
}

.actions button:hover {
  background-color: #d81b60;
  color: #fff;
  border: none;
}

.right-actions {
  display: flex;
  margin-right: 80px;
}

.planilha-btn {
  margin-right: 10px;
}

.container {
  display: flex;
  width: 100%;
}


.procedures-table {
  width: 160vh;
  border-collapse: collapse;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: auto;
}

.procedures-table thead {
  background-color: #d2135d;
  color: #fff;
}

.procedures-table th,
.procedures-table td {
  padding: 15px;
  text-align: left;
}

.procedures-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.edit-btn,
.delete-btn,
.more-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.edit-btn:hover,
.delete-btn:hover,
.more-btn:hover {
  color: #d81b60;
  font-size: 20px;
}

/* Pagination */
.pagination {
  text-align: center;
  margin: 20px 0;
  color: #d2135d;
  cursor: pointer;
}

.pagination button {
  background-color: #ffffff;
  display: inline-flex;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  height: 5vh;
  justify-content: center;
  margin: 1vh;
  padding: 2vh;
  align-items: center;
  border-radius: 1vh;
  border: 1px solid black;
  cursor: pointer;
}

.pagination span {
  display: inline-flex;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  justify-content: center;
  padding: 1vh;
  align-items: center;
  color: #d2135d;
  cursor: pointer;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.stat-item {
  background-color: #ffe2ec;
  border-radius: 5px;
  padding: 10px;
  width: 30%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stats :hover {
  background-color: #fad2e0;
}

.stat-item h2 {
  color: #000000;
  margin-bottom: 10px;
  font-size: 20px;
  width: 100%;
}

.stat-item p {
  margin-bottom: 10px;
}

.stats .stat-item a {
  color: #000000;
  text-decoration: none;
  font-weight: 300;
  font-size: small;
}

.stats .stat-item a:hover {
  text-decoration: underline;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.modal-content p {
  margin-bottom: 20px;
  font-size: 18px;
}

.modal-content .btn {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.modal-content .btn-yes {
  background-color: #28a745;
  color: white;
}

.modal-content .btn-no {
  background-color: #dc3545;
  color: white;
}

.modal-content .btn-yes:hover {
  background-color: #218838;
}

.modal-content .btn-no:hover {
  background-color: #c82333;
}

.criar-btn a {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  height: auto;
  background: #d2135d;
  width: 19vw;
  top: 2vh;
  margin-left: 3vw;
  border-radius: 3vh;
  margin-bottom: 2vh;
  box-shadow: 10px 0 0 #ffffff;
  border-left: 10px solid #d2135d;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.navigation .perfil .imagem-perfil {
  width: 20vh;
  height: 20vh;
  border-radius: 300px;
  display: flex;
  justify-content: center;
  list-style: none;
}

.perfil {
  padding: 5vh;
}

.navigation .perfil .imagem-perfil img {
  margin: 1vh;
  width: 53vh;
  height: 23vh;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.perfil #userName {
  display: flex;
  list-style: none;
  color: white;
  font-weight: 600;
  margin-top: 6vh;
  justify-content: center;
}

.perfil #userInsta {
  list-style: none;
  color: white;
  font-weight: 200;
  font-size: 12px;
  margin-top: 0.5vh;
  display: flex;
  justify-content: center;
}

.navigation ul {
  position: absolute !important;
  top: 30vh;
  left: 0;
  width: 100%;
  padding-left: 1vw;
  padding-top: 10vh;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation ul li a {
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: #fff;
  height: 8vh;
  margin-bottom: 2.5vh;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 3vw;
  height: 3vh;
  text-align: center;
  line-height: 70px;
}

.navigation ul li a .icon ion-icon {
  position: relative;
  font-size: 1.5rem;
  z-index: 1;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding-left: 1.5vw;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
  font-size: 15px;
}

.navigation ul li.active {
  color: black;
  background: #ffffff;
}

.navigation ul li.active a {
  color: black;
  /* Cor do texto quando ativo */
}

.navigation ul li.active a .icon ion-icon {
  color: black;
  /* Cor do ícone quando ativo */
}

.navigation ul li.active a::before {
  content: "";
  position: absolute;
  bottom: 8vh;
  right: 0;
  width: 5vh;
  height: 5vh;
  background: #d2135d;
  border-radius: 50%;
  box-shadow: 15px 15px 0 #ffffff;
  color: black;
}

.navigation ul li.active a::after {
  content: "";
  position: absolute;
  top: 8vh;
  right: 0;
  width: 5vh;
  height: 5vh;
  background: #d2135d;
  border-radius: 50%;
  box-shadow: 15px -15px 0 #ffffff;
}

.clear-btn {
  background-color: transparent;
  border: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

.clear-btn:hover {
  color: darkred;
}

#edit-nome,
#filter-from,
#filter-to,
#filter-client,
#filter-procedure,
#filter-specification {
  width: 30%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

#filter-modal .modal-content {
  width: 40%;
  max-width: 600px;
}

#filter-modal .modal-content label {
  margin: 10px 0 5px;
}

.modal-content .btn-yes,
.btn-save {
  background-color: #28a745;
  color: white;
}

.modal-content .btn-no {
  background-color: #dc3545;
  color: white;
}

.modal-content .btn-yes:hover {
  background-color: #218838;
}

.modal-content .btn-no:hover {
  background-color: #c82333;
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="password"],
input[type="date"],
input[type="email"],
select {
  padding: 0.3vw;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 0.2vw;
  margin-left: 0.2vw;
  margin-top: 15px;
  width: 50%;
}




.filter-btn {
  position: relative;
}



.tooltip1 {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  top: 120px;
  /* Ajuste conforme necessário */
  left: 33%;
  transform: translateX(-50%);
}

.tooltip2 {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  top: 120px;
  /* Ajuste conforme necessário */
  left: 80%;
  transform: translateX(-50%);
}

.tooltip3 {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  top: 120px;
  /* Ajuste conforme necessário */
  left: 90%;
  transform: translateX(-50%);
}

.filter-btn:hover+.tooltip1 {
  display: block;

}

.filter-btn:hover+.tooltip2 {
  display: block;

}

.filter-btn:hover+.tooltip3 {
  display: block;

}


.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip11 {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip11::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltip-wrapper:hover .tooltip11 {
  visibility: visible;
  opacity: 1;
}


/* Pagination */
.pagination {
  text-align: center;
  margin: 20px 0;
  color: #d2135d;
  cursor: pointer;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 2%;
}

.stat-item {
  background-color: #ffe2ec;
  border-radius: 5px;
  padding: 10px;
  width: 30%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stats :hover {
  background-color: #fad2e0;
}

.stat-item h2 {
  color: #000000;
  margin-bottom: 10px;
  font-size: 20px;
  width: 100%;
}

.stat-item p {
  margin-bottom: 10px;
}

.stats .stat-item a {
  color: #000000;
  text-decoration: none;
  font-weight: 300;
  font-size: small;
}

.stats .stat-item a:hover {
  text-decoration: underline;
}

/*--------------------------------------------------------------
Final Nav
Inicio Notifications
---------------------------------------------------------------*/
.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.notification.show {
  opacity: 1;
}

.notification.error {
  background-color: #dc3545;
}

.notification svg {
  margin-right: 10px;
}